.reset-bg {
    background: linear-gradient(to top right, #8e44ad, #3498db);
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .reset-form {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 2rem 2.5rem;
    border-radius: 15px;
    width: 350px;
    color: white;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  }
  
  .reset-form h2 {
    margin-bottom: 1.5rem;
  }
  
  .reset-form input {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.8rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
  }
  
  .reset-form button {
    width: 100%;
    padding: 0.8rem;
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .message {
    margin-top: 10px;
    color: #f0f0f0;
  }
  